html{
    background: rgb(253, 144, 162);
}
body{
    background: rgb(253, 144, 162);
}
#game-container{
    position: relative;
    background: rgb(253, 144, 162);
    color: white;
    font-weight: bold;
    margin: 0 auto;
    border: 0.01px solid rgb(253, 144, 162);
    text-align: center;
}
#game-container .title{
    font-size: 4vw;
    height: 4vw;
    margin-bottom: 2vw;
}
#cards{
    margin-top: 15px;
}
.card{
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    vertical-align: top;
    text-align: middle;
    position: relative;
    overflow: hidden;
}
.back{
    background: grey;
    color: white;
}
.front{
    background: white;
    color: black;
}
.card-inner{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
}
#score{
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
}
#timer{
    color: white;
    font-weight: bold;
    display: inline-block;
}
#game_footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}